soap-webservice-axis-maven/client/src/main/resources/wsdl/MavenAxis2WebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://MavenAxis2WS.ws.codecrafts.io" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://MavenAxis2WS.ws.codecrafts.io">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://MavenAxis2WS.ws.codecrafts.io">
            <xs:element name="sum">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="x" type="xs:int"/>
                        <xs:element minOccurs="0" name="y" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sumResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sumRequest">
        <wsdl:part name="parameters" element="ns:sum"/>
    </wsdl:message>
    <wsdl:message name="sumResponse">
        <wsdl:part name="parameters" element="ns:sumResponse"/>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="ns:ping"/>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="ns:pingResponse"/>
    </wsdl:message>
    <wsdl:portType name="MavenAxis2WebServicePortType">
        <wsdl:operation name="sum">
            <wsdl:input message="ns:sumRequest" wsaw:Action="urn:sum"/>
            <wsdl:output message="ns:sumResponse" wsaw:Action="urn:sumResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input message="ns:pingRequest" wsaw:Action="urn:ping"/>
            <wsdl:output message="ns:pingResponse" wsaw:Action="urn:pingResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MavenAxis2WebServiceSoap11Binding" type="ns:MavenAxis2WebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sum">
            <soap:operation soapAction="urn:sum" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap:operation soapAction="urn:ping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MavenAxis2WebServiceSoap12Binding" type="ns:MavenAxis2WebServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sum">
            <soap12:operation soapAction="urn:sum" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <soap12:operation soapAction="urn:ping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MavenAxis2WebServiceHttpBinding" type="ns:MavenAxis2WebServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="sum">
            <http:operation location="MavenAxis2WebService/sum"/>
            <wsdl:input>
                <mime:content type="text/xml" part="sum"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="sum"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <http:operation location="MavenAxis2WebService/ping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="ping"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="ping"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MavenAxis2WebService">
        <wsdl:port name="MavenAxis2WebServiceHttpSoap11Endpoint" binding="ns:MavenAxis2WebServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/MavenAxis2WebService"/>
        </wsdl:port>
        <wsdl:port name="MavenAxis2WebServiceHttpSoap12Endpoint" binding="ns:MavenAxis2WebServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/MavenAxis2WebService"/>
        </wsdl:port>
        <wsdl:port name="MavenAxis2WebServiceHttpEndpoint" binding="ns:MavenAxis2WebServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/MavenAxis2WebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
